@tailwind base;
@tailwind components;
@tailwind utilities;
 
html,
body,
:root {
  height: 100%;
  background-color: #f1f5f9;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@keyframes scroll-left 
{
  0% { transform: translateX(110%); }
  100% { transform: translateX(-200%); }
}

.banner-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: 100px;
}

.banner-text {
  display: flex;
  white-space: nowrap;
  animation: scroll-left 30s linear infinite; 
}


.privacy-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #595959;
  line-height: 1.5;
}


.privacy-title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #000000;
  font-weight: bold;
}


.privacy-updated {
  font-size: 14px;
  margin-bottom: 15px;
}


.privacy-intro {
  font-size: 15px;
  margin-bottom: 20px;
}


.privacy-questions {
  font-size: 15px;
  margin-bottom: 20px;
 
}


.privacy-subheading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #000000;
}


.privacy-summary {
  font-size: 15px;
  margin-bottom: 20px;
}


.privacy-toc-heading {
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #000000;
}


.privacy-toc {
  list-style-type: decimal;
  margin-left: 20px;
  margin-bottom: 20px;
}


.privacy-list {
  list-style-type: square;
  margin-left: 20px;
  margin-bottom: 20px;
 
}


.privacy-link {
  color: #003AFA;
  text-decoration: none;
  font-weight: bold;
}


.privacy-link:hover {
  text-decoration: underline;
}


.privacy-section-heading {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #000000;
  font-weight: bold;
}


.privacy-content {
  font-size: 15px;
  margin-bottom: 15px;
 
}

.privacy-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #373737;
}

.privacy-table, .privacy-table th, .privacy-table td {
  border: 1px solid black;
}

.privacy-table th, .privacy-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.privacy-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.privacy-table td {
  line-height: 1.5;
}

.privacy-table td:nth-child(3), .privacy-table th:nth-child(3) {
  text-align: center;
  width: 15%;
}


.terms-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #595959;
  line-height: 1.5;
}

.terms-title {
  font-size: 26px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.terms-updated {
  font-size: 14px;
  color: #595959;
  text-align: center;
  margin-bottom: 20px;
}

.terms-content {
  font-size: 15px;
}

.terms-heading {
  font-size: 19px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 15px;
}

.terms-subheading {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.terms-list {
  list-style-type: square;
  margin-left: 20px;
  margin-bottom: 20px;
}

.terms-content p {
  margin-bottom: 15px;
}

.terms-content a {
  color: #3030f1;
  text-decoration: none;
}

.terms-content a:hover {
  text-decoration: underline;
}

.highlight {
  animation: fadeBlink 1s ease-in-out 3;
}

@keyframes fadeBlink {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: yellow;
  }
}
